@mixin h1
  font-family: 'Cinzel', serif
  font-weight: 400

@mixin h2
  font-family: 'GT', serif
  font-weight: 300

@mixin h3
  font-family: 'GT', serif
  font-weight: 500

@mixin main
  font-family: 'Avenir', sans-serif
  font-weight: 400

@mixin medium
  font-family: 'Avenir', sans-serif
  font-weight: 500