@media (max-width: 1730px)
	.header, .review-header
		&__content
			padding-left: 10vw
			padding-right: 10vw
	.container
		padding-left: 10vw
		padding-right: 10vw
	.strip
		margin-right: 10vw
	.strip-nav
		left: -5vw
	.nav
			padding-left: 10vw
			padding-right: 10vw
	.tour-h1
		font-size: 60px
	.white-block
		padding: 50px 70px
	.history-wrapper
		&__left
			width: 50%
			height: 48vw
	.custom-width
		width: 80%
	.tour-img-wrapper
		height: 18vw

@media (max-width: 1460px)
	.header
		&__content
			height: 85vh
	.choose-items__item
		margin-right: 4.9vw
		flex-basis: 27%
	.bottom-content
		img
			max-width: 58%
		img:nth-child(2)
			max-width: 46%
			top: -118%
	.img-outer 
		   height: 531px
		   width: 494px
	h1
		font-size: 120px
	.tour-header__tour-content
		width: 70%
	.tabs__content
		padding-top: 30px
	.tabs-nav__item
		font-size: 20px
	.page-contacts-wrapper
		&__right
			padding-top: 15vh
			padding-bottom: 15vh
	.custom-width
		width: 90%
	body
		font-size: 18px

	.header__content__description
		font-size: 20px
		margin-top: 30px
	h2
		font-size: 45px
	h3
		font-size: 20px
	.slideshow 
		width: 880px 
		height: 660px
	.boxnav
		width: 880px 

@media (max-width: 1305px)
	.header, .review-header
		&__content
			padding-left: 5vw
			padding-right: 5vw
	.container
		padding-left: 5vw
		padding-right: 5vw
	.nav
		padding-left: 5vw
		padding-right: 5vw
	.tour-header
		height: 100vh
	.footer
		&.tour-footer
			padding-bottom: 0px
	.tabs__scroll-wrap
		padding-top: 20px
		padding-bottom: 20px
		padding-right: 30px
	.tabs
		margin-top: 0px
	.gallery__wrapper h2
		margin-bottom: 20px
	.tour-header__tour-content p
		margin-top: 15px
	.tour-header__tour-content .button
		margin-top: 25px
	.wrapper__left
		margin-right: 0px
	.history-wrapper
		&__left
			width: 50%
			height: 68vw
	.tour-img-wrapper
		height: 19vw

@media (max-width: 1095px)
	h1
		font-size: 80px
	.tab__wrapper
		flex-direction: column
	.wrapper
		&__left
			width: 100%
	.wrapper__right
		width: 100%
		margin-top: 50px
		img
			width: 100%
	
	.info-block
		display: none
	
	.bottom-content
		&.welcome
			img
				max-width: 75%
				&:nth-child(2)
					max-width: 50%
	.tour-h1
		font-size: 48px
	.white-block
		width: 100%
		background: rgba(white, 0.7)
	.container
		padding-top: 60px
		&.last
			padding-bottom: 60px
	.tour-header__tour-content
		margin-top: -60px
	.price__item
		flex-basis: 50%

@media (max-width: 960px)
	.tour-preview
		width: 50%
	.tour-img-wrapper
		height: 28vw

@media (max-width: 850px)

	.tab-2, .tab-3
		h2
			width: 100%
	.choose-items__item
		flex-basis: 100%
		margin-right: 0px
	.bottom-content
		&.welcome
			img
				max-width: 100%
				&:nth-child(2)
					display: none
	.top-content
		width: 100%

	.main-footer
		&__content
			flex-direction: column
			&__left-content, &__right-content
				width: 100%
			&__right-content
				margin-top: 30px
	.bottom-content
		margin-top: 40px
	.img-outer 
		height: 221px
		width: 284px
	.strip-nav__line
		width: 100%
		height: 1px
		background: rgba(#292B33, 0.2)
	.input-wrapper
		margin-top: 40px
	.waves-wrapper
		bottom: -35vh
	.footer__container
		padding-bottom: 60px
	.strip-nav
		width: 100%
		padding-right: calc(5vw + 20px)
		&__left
			margin-right: 20px
		&__right
			margin-left: 20px
	.nav__items
		pointer-events: none
		position: fixed
		top: 0
		right: 0
		width: 100%
		height: 100%
		z-index: 100
		opacity: 0
		transform: translateX(100%)
		transition: transform .5s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity .5s cubic-bezier(0.445, 0.05, 0.55, 0.95)
		&__wrapper
			height: auto
			min-height: 100vh
			width: 100%
			flex-direction: column
			justify-content: center
			background: white
			padding-top: 20px
			padding-bottom: 20px
			padding-left: 20px
		&__wrap--wrapper
			width: 100%
			overflow-y: scroll
			overflow-x: hidden

		&.show
			pointer-events: auto
			opacity: 1
			transform: translateX(0px)
	.nav
		position: fixed
		top: 3%
		&__logo
			z-index: 10011
			&.invisible
				opacity: 0
				pointer-events: 0

	.nav__item
		margin-left: 0px
		transform: translateX(100%)
		transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1)
		padding-bottom: 20px
		width: fit-content
		&.active
			transform: translateX(0%)
			@for $i from 1 to 5
				&:nth-child(#{$i})
					transition-delay: $i * 0.08s
	.strip-link
		font-size: 18px
	.burger
		display: block
		background: white
		border-radius: 50%
		width: 40px
		height: 40px
	.strip-after
		width: 95%
	.draggable 
		display: none
	.strip
		pointer-events: auto
	.strip-outer
		overflow-x: scroll
	.strip-nav
		display: none
	.dropbtn 
		pointer-events: none
		color: $accent-color
	.dropdown-content
		background: transparent
		margin-top: 0px 
		position: relative
		display: flex
		opacity: 1
		pointer-events: auto
		justify-content: center
		flex-direction: column
		padding-top: 30px
		height: auto
		padding-left: 10px
		box-shadow: none
		a
			padding: 0px 0px
			padding-bottom: 20px
	.main-footer__content__left-content__contacts-items.float-right
		align-items: flex-start
	.social-media 
		a
			margin-left: 0px
			margin-right: 20px
	.white-block
		flex-direction: column
		padding: 18px 70px
		&__item
			margin-left: 0px
			margin-top: 24px
			line-height: 1em
			&.first
				margin-top: 0px
	.tour-header__tour-content
		width: 100%
	.tour-h1
		font-size: 36px !important
	.price__item
		flex-basis: 100%
	.page-contacts
		height: auto
		min-height: 100vh
		&__wrapper
			flex-direction: column
			padding-right: 0px
	.page-contacts-wrapper
		&__left
			width: 100%
			height: 30vh
		&__right
			width: 100%
			padding-left: 20px
			padding-top: 60px
			padding-bottom: 100px
			.button
				margin-top: 40px
			.main-footer__content__left-content__contacts-items 
				&.with-margin
					margin-top: 40px
	.history-wrapper
		flex-direction: column
		&__left
			width: 100%
			height: 50vh
		&__right
			width: 100%
			margin-left: 0px
			margin-top: 30px
	.reviews-content-wrapper
		flex-direction: column-reverse
		&__left
			width: 100%
			margin-top: 30px
			font-size: 18px
			margin-bottom: 50px
			.TA_cdsratingsonlynarrow
				margin-top: 86px
			.sec-p
				margin-top: 36px
		&__right
			width: 100%
			margin-top: 36px
	.reviews-item
		padding-bottom: 33px
	.only-mobile
		display: block
	.review-header-desc
		font-size: 18px
		margin-top: 15px

@media (max-width: 660px)
	.tours-preview-wrapper
		width: 100%
		margin-top: -45px
	.tour-preview
		width: 100%
		margin-top: 35px
		padding-right: 0px
	.tour-img-wrapper
		height: 60vw
	.tour-preview-h3
		font-size: 18px


@media (max-width: 460px)
	.header, .review-header
		&__content
			height: auto
			padding-top: 100px
			padding-bottom: 35px
		&__video
			height: 40vh
			min-height: 40vh !important
			object-fit: cover 
			video, img
				object-fit: cover
				height: 100%
		h1
			font-size: 60px
		.header__content__description
			font-size: 18px
			margin-top: 10px
	.header__photo
		height: 100%
		object-fit: cover
	.img-outer 
		height: 246px
		width: 290px
	.waves-wrapper
		display: none
	.strip__item 
		padding-right: 20px
	.bottom-content 
		&.welcome
			margin-left: -5vw
			width: 100vw
			img
				width: 100%
				object-fit: cover
	.choose-items__item
		margin-top: 30px
	.wave
		stroke-width: 0.5px
	h2
		font-size: 36px
	.tour-header__tour-content p
		font-size: 16px
	.slideshow
		height: 40vh
		width: 100%
	.slide
		height: 40vh
	.boxnav
		padding-left: 10px
		padding-right: 10px
		&__item
			width: 30px
			height: 30px
			svg
				width: 10px
				height: 10px
	.tabs__scroll-wrap
		overflow-x: scroll
		width: auto
	.form-button
		font-size: 16px
	.tabs-nav__item
		font-size: 18px
		margin-left: 34px
	.tabs
		margin-top: -50px
	.wrapper__left p
		margin-top: 20px
	.programm-item
		margin-top: 40px
		overflow: hidden
		// max-height: 30px
	.wrapper__right
		margin-top: 25px
	.history-wrapper
		&__left
			height: 35vh
		&__right
			p
				margin-top: 20px
	.custom-width
		width: 104%
	.reviews-rate
		svg
			width: 10px 
	.reviews-review
		margin-top: 25px
	.white-block
		padding: 18px 20px
	.mob
		display: block

@media (max-width: 350px)
	.header h1
		font-size: 50px
	.white-block
		display: none
	.tour-header__tour-content
		margin-top: 0px
	h2
		font-size: 30px