.tour-header
	height: 88vh
	position: relative
	background-size: cover
	background-repeat: no-repeat
	background-color: rgba(black, 0.2)
	&__tour-content
		height: 100%
		color: white
		display: flex
		flex-direction: column
		justify-content: center
		width: 58%
		p
			margin-top: 30px
			opacity: 0
			transform: translateY(40px)
		.button
			margin-top: 60px
			opacity: 0
			transform: translateY(40px)

.tour-h1
	font-size: 72px
	color: white
	opacity: 0
	transform: translateY(40px)

.white-block
	position: absolute
	bottom: 0
	right: 0
	background: white
	padding: 64px 90px
	display: flex
	justify-content: space-between
	align-items: center
	opacity: 0
	transform: translateY(100px)
	&__item
		margin-left: 50px
		display: flex
		align-items: center
		span
			margin-left: 15px
			display: inline-block
		&.first
			margin-left: 0px

.tabs__scroll-wrap
	position: sticky
	top: 0px
	left: auto
	z-index: 10000
	padding-top: 52px
	padding-bottom: 52px
	padding-right: 40px
	background: white
	overflow: hidden
	width: fit-content
.tabs-nav 
	display: flex 
	justify-content: flex-start 

	width: fit-content
.tabs-nav__item 
	border-bottom: 3px solid transparent 
	cursor: pointer 
	+medium
	font-size: 24px
	opacity: 0.5 
	user-select: none
	margin-left: 50px
	white-space: nowrap
	&:nth-child(1) 
		margin-left: 0px 
	&.is-active 
		border-color: $accent-color 
		opacity: 1 
.tab 
	display: none 
	opacity: 0 
	transition: opacity 0.5s ease 
	pointer-events: none 
	// position: absolute 
	top: 0 
	left: 0
	&.is-active 
		opacity: 1 
		transition: opacity 0.5s ease 
		display: block  
		pointer-events: auto 
	span 
		color: $accent-color
	&__wrapper
		display: flex
		justify-content: space-between
		align-items: center  

.tabs
	position: relative
	overflow: hidden
	&__content
		padding-top: 100px 
		position: relative

.wrapper
	&__left
		margin-right: 78px
		p
			margin-top: 25px

.programm-item
	margin-top: 60px

.h2-num
	font-family: 'Cinzel', serif 
	color: inherit !important

.price
	&__wrapper
		h3
			margin-top: 25px
	&__items
		margin-top: 10px
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&__item
		display: flex
		align-items: center
		line-height: 1em
		flex-basis: 26%
		margin-top: 40px
		p
			margin-left: 25px