{% set title = 'about page' %}
{% set 'route' = 'about' %}


{% extends "layouts/_layout.html" %}
{% block content %}
<header class="header">
  <div class="header__content">
    <h1>ABOUT</h1>
    <p class="header__description">We create the unique adventures in Bali</p>
    <div class="about-info-block">
      <span class="about-info-block__text">We create a positive emotions!</span>
    </div>
  </div>
  <div class="header__video" style="min-height: 60vh">
    <div class="header__photo" style="background-image: url(img/about-bg.jpg);"></div>
  </div>
</header>
<main>
  <section class="section">
    <div class="container section__container">
      <div class="top-content bigger">
        <h2>We offer not<br>just a tours </h2>
        <p>We offer you new emotions, new friends, one in the life time experiences and best memories from your Bali vacation!
          <br><br>
          We made huge job to perfectly organize and balance our itineraries including visit to most interesting destinations around Bali and Nusa Penida islands. Sit back, relax and enjoy your adventure, our crew will take care of the rest.</p>
      </div>
      <div class="bottom-content welcome">
        <img src="img/thumbnails/hor.jpg" data-lazy="img/about-1.jpg" alt="beach">
        <img src="img/thumbnails/ver.jpg" data-lazy="img/about-2.jpg" alt="beach">
      </div>
      <div class="waves-wrapper">
        {% include "partials/_waves.html" %}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container section__container">
      <div class="history-wrapper">
        <div class="history-wrapper__left">
          <img src="img/thumbnails/about-3.jpg" data-lazy="img/about-3.jpg" alt="underwater">
        </div>
        <div class="history-wrapper__right">
          <h2>The beginning<br>of Day Trip Bali</h2>
          <p>We have been started our firsts tours in 2014, in that time not many people know about Nusa Penida island. It was amazing wild place, full of green tropical jungles, white send beaches without any people, no restaurants, no hotels, no traffic jams there.
            <br><br>
            The waters around was full of fish and corals, and it was the rare place where we can see the giant Oceanic Manta Rays in wild habitat.
            <br><br>
            For last years Nusa Penida become more popular for visitors form all over the world, but still has the amazing atmosphere of wild adventure there. And we share this atmosphere with you!</p>
        </div>
      </div>
    </div>
  </section>
    <section class="section">
      <div class="container section__container last">
        <h2>Why do tourists<br>choose&nbsp;us?</h2>
        <div class="choose-items">
          <div class="choose-items__item">
            {% include "partials/_choose-icon-1.html" %}
            <h3>Create your best day</h3>
            <p>All our comments are telling one thing — we are making people happier while creating the best day for them on the island. You can check it here — <span>
                <a href="reviews.html" data-router-disabled>reviews</a></span></p>
          </div>
          <div class="choose-items__item">
            {% include "partials/_choose-icon-2.html" %}
            <h3>Positive team</h3>
            <p>You won't feel any language problems. All teams including guides and captains of the boats can speak English, and it is rare for Bali.</p>
          </div>
          <div class="choose-items__item">
            {% include "partials/_choose-icon-3.html" %}
            <h3>Tours are full of adventures</h3>
            <p>Just in one day, you will get maximum good emotions! We will show you maximum thanks to the well-organized logic of the tour. </p>
          </div>
          <div class="choose-items__item">
            {% include "partials/_choose-icon-4.html" %}
            <h3>New private boats</h3>
            <p>In sea tours you will travel all day on a new private boat — without a crowd, in a small group of tourists, with an experienced team and guide.</p>
          </div>
          <div class="choose-items__item">
            {% include "partials/_choose-icon-5.html" %}
            <h3>Collecting your memories</h3>
            <p>At the end of each tour you get a free photo and video report. We shoot all day with the help of the drone and GoPro — these memories will remain with you!</p>
          </div>
        </div>
      </div>
    </section>
</main>
{% include "partials/_footer.html" %}
{% endblock %}
