{% set title = 'contacts page' %}
{% set 'route' = 'contacts' %}

{% extends "layouts/_layout.html" %}
{% block content %}
<div class="page-contacts">
  <div class="page-contacts-wrapper page-contacts__wrapper">
    <div class="page-contacts-wrapper__left">
      <img src="img/contacts.jpg" alt="contacts">
    </div>
    <div class="page-contacts-wrapper__right">
      <div class="page-contacts-wrapper__text">
      <h2>Contacts</h2>
      <p>You can book a tour for any date with the possibility of free cancellation.</p>
      </div>
      <div class="page-contacts__contacts-items with-margin">
        <a href="#">+62 821 4595 7604 (WhatsApp)</a>
        <a href="mailto:baliboatrental@gmail.com">baliboatrental@gmail.com</a>
        <div class="social-media">
          <a class="dif-soc" href="#"><img src="img/insta.svg" alt=""></a>
          <a class="dif-soc" href="#"><img src="img/fb.svg" alt=""></a>
        </div>
      </div>
      <div class="button">
        <span class="form-button">Book tour</span>
        <div class="button__bg"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
