---
title: Tour page
route: tour
---
{% extends "layouts/_layout.html" %}
{% block content %}
  {% include "partials/_svg-sprite.html" %}
  <div class="white-block">
    <div class="container white-block__container full-size">
      <div class="white-block__items">
        <div class="white-block__item first">
          <img src="img/tour-icons/days.svg" alt="calendar">
          <span>DAY TRIP</span>
        </div>
        <div class="white-block__item">
          <img src="img/tour-icons/time.svg" alt="clock">
          <span>6.30 AM — 5.00 PM</span>
        </div>
        <div class="white-block__item">
          <img src="img/tour-icons/price.svg" alt="money-bag">
          <span>99 USD PER PERSON</span>
        </div>
      </div>
    </div>
    <button class="white-block__btn">
    Book now
    	<svg class="white-block__btn-riple">
        <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
      </svg>
    </button>
  </div>
  <header class="tour-header">
    <div class="container tour-header__container full-size">
      <div class="tour-header__tour-content">
        <h1 class="tour-h1">Day trip to Nusa Penida by boat</h1>
      </div>
    </div>
    <div class="tour-header__img" style="background-image: url(img/tours-bg/1st-tour-bg.jpg);"></div>
  </header>
  <main>
    <section class="section about-tour-section">
      <div class="container section__container full-size about-tour-section__container last">
        <div class="about-tour-section__left">
          <h2>This is not a tour — this is a real boat adventure!</h2>
          <div class="about-tour-section__text">
            <p>Come with us on this amazing one of a kind day trip to Nusa Penida. It is a wonderful way to spend the day at sea with your friends and family.</p>
            <p>We will depart from <span>Bali</span> and head to Nusa Penida where we will swim with Manta Rays, snorkel among colorful fish and coral reefs, and explore some amazing beaches and lagoons. You can enjoy a nice lunch on the island, and then go sightseeing as well.</p>
            <p>Sit back, relax and enjoy your adventure, our crew will take care of the rest.</p>
          </div>
        </div>
        <div class="about-tour-section__right">
          <div class="about-tour-section__img" style="background-image: url(img/tour-1/1.jpg)"></div>
        </div>
      </div>
    </section>
    <section class="section details-section">
      <div class="container details-section__container full-size">
        <div class="details-section__top">
          <h2>Itinerary</h2>
        </div>
        <div class="details-section__bottom">
          <div class="details-section__left">
            <div class="details-section__items">
              {% for i in range(0, 5) -%}
                <div class="details-section__item">
                  <div class="details-section__item-container">
                    <div class="details-section__item-left">6.30 am</div>
                    <div class="details-section__item-right">pick up</div>
                  </div>
                  <div class="details-section__item-line"></div>
                </div>
                <div class="details-section__item">
                  <div class="details-section__item-container">
                    <div class="details-section__item-left">6.30 am</div>
                    <div class="details-section__item-right">pick up</div>
                  </div>
                  <div class="details-section__item-line"></div>
                </div>
              {% endfor %}

            </div>
          </div>
          <div class="details-section__right">
            <div class="details-section__img" style="background-image: url(img/about-2.jpg)"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section gallery-section">
      <div class="container section__container gallery-section__container full-size">
        <div class="gallery-section__top">
          <div class="gallery-section__left">
            <h2>Gallery</h2>
            <div class="gallery-section__view-more">view more <span>(20 photos)</span></div>
          </div>
          <div class="gallery-section__right">
            <nav class="gallery-section__nav">
              <div class="gallery-section__nav-item gallery-section__nav-item--left">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.53223 3.18C6.8047 2.89801 7.25818 2.89801 7.54017 3.18C7.81264 3.45247 7.81264 3.90595 7.54017 4.17778L2.42934 9.28861H19.2944C19.6875 9.28924 20 9.60172 20 9.99486C20 10.388 19.6875 10.7106 19.2944 10.7106H2.42934L7.54017 15.8119C7.81264 16.0939 7.81264 16.5481 7.54017 16.8199C7.25818 17.1019 6.80407 17.1019 6.53223 16.8199L0.211496 10.4992C-0.0704975 10.2267 -0.0704975 9.77321 0.211496 9.50137L6.53223 3.18Z" fill="#292B33"/>
                </svg>
              </div>
              <div class="gallery-section__nav-item gallery-section__nav-item--right">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.4678 3.18C13.1953 2.89801 12.7418 2.89801 12.4598 3.18C12.1874 3.45247 12.1874 3.90595 12.4598 4.17778L17.5707 9.28861H0.705621C0.31248 9.28924 0 9.60172 0 9.99486C0 10.388 0.31248 10.7106 0.705621 10.7106H17.5707L12.4598 15.8119C12.1874 16.0939 12.1874 16.5481 12.4598 16.8199C12.7418 17.1019 13.1959 17.1019 13.4678 16.8199L19.7885 10.4992C20.0705 10.2267 20.0705 9.77321 19.7885 9.50137L13.4678 3.18Z" fill="#292B33"/>
                </svg>
              </div>
            </nav>
          </div>
        </div>
        <div class="gallery-section__bottom">
          <div class="gallery-section__gallery">
            <!-- Slider main container -->
            <div class="swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" style="background-image: url(img/tour-1/slide-1.jpg)"></div>
                <div class="swiper-slide" style="background-image: url(img/tour-1/slide-2.jpg)"></div>
                <div class="swiper-slide" style="background-image: url(img/tour-1/slide-3.jpg)"></div>
                <div class="swiper-slide" style="background-image: url(img/tour-1/slide-1.jpg)"></div>
                <div class="swiper-slide" style="background-image: url(img/tour-1/slide-2.jpg)"></div>
                <div class="swiper-slide" style="background-image: url(img/tour-1/slide-3.jpg)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section list-section">
      <div class="container section__container list-section__container full-size">
        <div class="list-section__left">
          <h2>Package includes</h2>
          <div class="list-section__left-items">
            <div class="list-section__l-col">
              {% for i in range(0, 4) -%}
                <div class="list-section__left-item">
                  <div class="list-section__item-icon">{% include "partials/_check.svg" %}</div>
                  <div class="list-section__item-text">Pick up and drop off</div>
                </div>
              {% endfor %}
            </div>
            <div class="list-section__r-col">
              {% for i in range(0, 4) -%}
                <div class="list-section__left-item">
                  <div class="list-section__item-icon">{% include "partials/_check.svg" %}</div>
                  <div class="list-section__item-text">Pick up and drop off</div>
                </div>
              {% endfor %}
            </div>
          </div>

        </div>
        <div class="list-section__right">
          <h2>Additional Services</h2>
          <div class="list-section__right-items">
            <div class="list-section__right-item">
              <div class="list-section__item-text">Meals</div>
              <div class="list-section__item-bold">$10</div>
            </div>
            <div class="list-section__right-item">
              <div class="list-section__item-text">Beers</div>
              <div class="list-section__item-bold">$20</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section tour-list">
      <div class="container section__container tour-list__container choose full-size">
        <div class="top-content__choose tour-list__content">
          <h2>Available yachts for this Adventure</h2>
        </div>
        <div class="bottom-content bottom-content__marign">
          <div class="tours-preview-wrapper" style="opacity: 0">
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper tour-list__img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg">
                <div class="tour-triger">-20%</div>
              </div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper tour-list__img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg"></div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper tour-list__img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg">
                <div class="tour-triger">Most popular</div>
              </div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
        <section class="section tour-list tour-list--bg">
      <div class="container section__container tour-list__container choose full-size">
        <div class="top-content__choose tour-list__content">
          <h2>Other Adventures to choose from</h2>
        </div>
        <div class="bottom-content bottom-content__marign">
          <div class="tours-preview-wrapper" style="opacity: 0">
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper tour-list__img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg">
                <div class="tour-triger">-20%</div>
              </div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper tour-list__img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg"></div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}