---
title: Main page
---
{% extends "layouts/_layout.html" %}
{% block content %}
<!-- loader -->
<div class="loader">
  <div class="line-loader">
    <div class="loader-back-line">
      <div class="loader-front-line"></div>
    </div>
  </div>
</div>
<!-- loader -->
<div class="nav">
  <div class="nav__logo">
  </div>
  <nav class="nav__items">
    <ul class='nav__items__wrapper'>
      <li class="nav__item"><a href="#">about</a></li>
      <li class="nav__item"><a href="#">tours</a></li>
      <li class="nav__item"><a href="#">contacts</a></li>
      <li class="nav__item"><a href="#">reviews</a></li>
    </ul>
  </nav>
  <div class="burger">
    <span></span>
  </div>
</div>
<header class="header">
  <div class="header__content">
    <h1><span class="splitter">DAY&nbsp;TRIP</span><br><span class="splitter">BALI</span></h1>
    <p class="header__content__description">We will create your best day on the island!</p>
    <div class="info-block">
      <span class="info-block__text">This is the beautiful text for day trip Bali</span>
    </div>
  </div>
  <div class="header__video">
  </div>
</header>
<main>
  <section class="section">
    <div class="section__container">
      <div class="top-content">
        <h2><span class="splitter">Welcome</span><br> <span class="splitter">to&nbsp;Bali!</span></h2>
        <p>We are a travel agency, organizing incredible tours in Bali. In just a day or two, we will show you the best spots on the island. Book your location…we’re waiting for you!</p>
      </div>
      <div class="bottom-content welcome">
        <img src="img/1-beach.jpg" alt="beach">
        <img src="img/2-beach.jpg" alt="beach">
      </div>
      <div class="waves-wrapper">
        {% include "partials/_waves.html" %}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section__container choose">
      <div class="top-content__choose">
        <h2><span class="splitter">Choose&nbsp;your</span><br><span class="splitter">tour</span></h2>
      </div>
      <div class="bottom-content bottom-content__marign">
        {% include "partials/_slider.html" %}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section__container last">
      <h2><span class="splitter">Why&nbsp;do&nbsp;tourists</span><br><span class="splitter">choose&nbsp;us?</span></h2>
      <div class="choose-items">
        <div class="choose-items__item">
          {% include "partials/_choose-icon-1.html" %}
          <h3>Create your best day</h3>
          <p>All our comments are telling one thing — we are making people happier while creating the best day for them on the island. You can check it here — <span><a href="#">reviews</a></span></p>
        </div>
        <div class="choose-items__item">
          {% include "partials/_choose-icon-2.html" %}
          <h3>Positive team</h3>
          <p>You won't feel any language problems. All teams including guides and captains of the boats can speak English, and it is rare for Bali.</p>
        </div>
        <div class="choose-items__item">
          {% include "partials/_choose-icon-3.html" %}
          <h3>Tours are full of adventures</h3>
          <p>Just in one day, you will get maximum good emotions! We will show you maximum thanks to the well-organized logic of the tour. </p>
        </div>
        <div class="choose-items__item">
          {% include "partials/_choose-icon-4.html" %}
          <h3>New private boats</h3>
          <p>In sea tours you will travel all day on a new private boat — without a crowd, in a small group of tourists, with an experienced team and guide.</p>
        </div>
        <div class="choose-items__item">
          {% include "partials/_choose-icon-5.html" %}
          <h3>Collecting your memories</h3>
          <p>At the end of each tour you get a free photo and video report. We shoot all day with the help of the drone and GoPro — these memories will remain with you!</p>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="section__container footer__container">
    <div class="main-footer__content">
      <div class="main-footer__content__left-content">
        <h2><span class="splitter">Contacts</span></h2>
        <p>You can book a tour for any date, with free cancellation.</p>
        <div class="main-footer__content__left-content__contacts-items">
          <a href="#">+62 821 4595 7604 (WhatsApp)</a>
          <a href="mailto:baliboatrental@gmail.com">baliboatrental@gmail.com</a>
          <div class="social-media">
            <a href="#"></a>
            <a href="#"></a>
          </div>
        </div>
      </div>
      <div class="main-footer__content__right-content">
        <form class="form" name="form">
          <!-- Hidden Required Fields -->
          <input type="hidden" name="project_name" value="DayTripBali site">
          <input type="hidden" name="admin_email" value="hello@emotion-agency.com">
          <input type="hidden" name="form_subject" value="Заявка с главной">
          <!-- END Hidden Required Fields -->
          <div class="input-wrapper first">
            <input type="text" class="text-field" maxlength="256" name="name" id="name" autocomplete="off">
            <label for="name" class="label">
              <span class="label-content">Name</span>
            </label>
          </div>
          <div class="input-wrapper">
            <input type="text" class="text-field" maxlength="256" name="e-mail" id="e-mail" autocomplete="off">
            <label for="e-mail" class="label">
              <span class="label-content">E-mail *</span>
            </label>
            <span class="form-validate-text"></span>
          </div>
          <div class="input-wrapper">
            <input type="text" class="text-field" maxlength="256" name="questions" id="questions" autocomplete="off">
            <label for="questions" class="label">
              <span class="label-content">Your questions</span>
            </label>
          </div>
          <!--         <input class="input-checkbox" id="input-checkbox" type="checkbox" style="display: none;" checked="checked" />
        <label class="checkbox" for="input-checkbox"><span>
            <svg width="12px" height="10px" viewbox="0 0 12 10">
              <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
            </svg></span><span>Я даю згоду на обробку моїх персональних данних</span></label> -->
          <div class="button">
            <input type="submit" value="Send" class="form-button">
            <div class="button__bg"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
