{% set title = 'Main page' %}
{% set 'route' = 'main' %}

{% extends "layouts/_layout.html" %}
{% block content %}
{% include "partials/_svg-sprite.html" %}
  <header class="header">
    <div class="header__content">
      <h1>DAY TRIP<br>BALI</h1>
      <p class="header__description">We will create your best day on the island!</p>
      <div class="header__info-block info-block">
        <span class="info-block__text">Ready for adventure?</span>
        <a href="#" class="info-block__btn">
          <span>Check calendar</span>
          <svg class="info-block__btn-riple">
            <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
          </svg>
        </a>
      </div>
    </div>
    <div data-video-src="video/video.mp4" data-poster-pc="img/main-poster-pc.jpg" data-poster-mob="img/main-poster.jpg" data-mob-btn="video/video-button.svg" class="header__video" style="min-height: 60vh"></div>
  </header>
  <main>
    <section class="section">
      <div class="container section__container">
        <div class="top-content">
          <h2>Facts<br> about us</h2>
          <p>We are №1 in Airbnb Bali Experience list, partner of TripAdvisor, Airbnb, Peek Pro. For 2&nbsp;years in business we have 5000 satisfied customers with 1 000+ reviews. Our core is team of certified guides.</p>
        </div>
        <div class="bottom-content welcome">
          <img src="img/thumbnails/hor.jpg" data-lazy="img/1-beach.jpg" alt="beach">
          <img src="img/thumbnails/ver.jpg" data-lazy="img/2-beach.jpg" alt="beach">
        </div>
        <div class="waves-wrapper">
          {% include "partials/_waves.html" %}
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container section__container choose">
        <div class="top-content__choose">
          <h2>Tours</h2>
        </div>
        <div class="bottom-content bottom-content__marign">
          <div class="tours-preview-wrapper" style="opacity: 0">
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg">
                <div class="tour-triger">-20%</div>
              </div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg"></div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg">
                <div class="tour-triger">Most popular</div>
              </div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container section__container choose last">
        <div class="top-content__choose">
          <h2>Boats</h2>
        </div>
        <div class="bottom-content bottom-content__marign">
          <div class="tours-preview-wrapper" style="opacity: 0">
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg">
                <div class="tour-triger">-20%</div>
              </div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg"></div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
            <a href="day-trip-nusa-penida.html" class="tour-preview">
              <div class="tour-img-wrapper" data-bglazy="img/tours-slider/slide-1.jpg">
                <div class="tour-triger">Most popular</div>
              </div>
              <div class="tour-info">
                <div class="tour-top-info">
                  <div class="tour-top-info-left">
                    <p>From <span>$999</span> trip/boat</p>
                  </div>
                </div>
                <h3 class="tour-preview-h3">One day group tour on a boat</h3>
                <p class="tour-desc">Come with us on this amazing one of a kind day trip to Nusa Penida...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include "partials/_footer.html" %}
{% endblock %}