{% set title = 'reviews page' %}
{% set 'route' = 'reviews' %}

{% extends "layouts/_layout.html" %}
{% block content %}
  <header class="review-header">
    <div class="review-header__content">
      <h2 style="opacity: 0">Reviews</h2>
      <div class="reviews-content-wrapper">
        <div class="reviews-content-wrapper__left">
          <script defer async src='https://cdn.trustindex.io/loader.js?2b3c2d7161b66175585e6b72cd'></script>
          
          <div class="review-embed">
            <script defer async src='https://cdn.trustindex.io/loader.js?e183bb116a9f5619d156fedd7b'></script>
          </div>
        </div>
        <div class="reviews-content-wrapper__right a-sticky">
          <div class="reviews__card reviews__contacts">
            <h4>Contacts</h4>
            <div class="reviews__card-line"></div>
            <ul class="reviews__contacts-items">
              <li class="reviews__contacts-item">
                <div class="reviews__contacts-item-h">Phone:</div>
                <a href="tel:+628113801989" class="reviews__contacts-item-link">+628113801989</a>
              </li>
              <li class="reviews__contacts-item">
                <div class="reviews__contacts-item-h">E-mail:</div>
                <a href="mailto:info@daytripbali.cc" class="reviews__contacts-item-link">info@daytripbali.cc</a>
              </li>
              <li class="reviews__contacts-item">
                <div class="reviews__contacts-item-h">Links:</div>
                <div class="reviews__contacts-item-icons">
                  <a target='_blank' rel='noopener noreferrer' aria-label="airbnb link" href="https://www.airbnb.com/experiences/376189" class="reviews__contacts-item-icon">
                    <img width="30px" height="30px" src="../img/bali-icons/airbnb.svg" alt="">
                  </a>
                  <a target='_blank' rel='noopener noreferrer' aria-label="google link" aria-label="" href="https://www.google.com/maps/search/?api=1&query=Google&query_place_id=ChIJpZuEAjBH0i0RIYSN8c5vF9o" class="reviews__contacts-item-icon">
                    <img width="30px" height="30px" src="../img/bali-icons/google.svg" alt="">
                  </a>
                  <a target='_blank' rel='noopener noreferrer' aria-label="tripadvisor link" aria-label="" href="https://www.tripadvisor.com/Attraction_Review-g469404-d17820260-Reviews-Day_Trip_Bali-Seminyak_Kuta_District_Bali.html" class="reviews__contacts-item-icon">
                    <img width="30px" height="30px" src="../img/bali-icons/trip.svg" alt="">
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="reviews__card reviews__about">
            <h4>About</h4>
            <div class="reviews__card-line"></div>
              <div class="reviews__adress">Indonesia, 80771 Seminyak, Bali</div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}