---
title: Reviews page
route: reviews
---
{% extends "layouts/_layout.html" %}
{% block content %}
<!-- loader -->
<div class="loader">
  <div class="line-loader">
    <div class="loader-back-line">
      <div class="loader-front-line"></div>
    </div>
  </div>
</div>
<!-- loader -->
{% include "partials/_navbar.html" %}
<header class="header">
  <div class="header__content">
    <h1><span class="splitter">DAY&nbsp;TRIP</span><br><span class="splitter">BALI</span></h1>
    <p class="header__content__description">We will create your best day on the island!</p>
    <div class="info-block">
      <span class="info-block__text">This is the beautiful text for day trip Bali</span>
    </div>
  </div>
<div id="TA_cdswritereviewnew990" class="TA_cdswritereviewnew"><ul id="NZKAkXauzmI" class="TA_links efvRuDf2dB"><li id="KXWav9ovL" class="ewXGLY"><a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/medium-logo-29834-2.png" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=cdswritereviewnew&amp;uniq=990&amp;locationId=17820260&amp;lang=en_US&amp;lang=en_US&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
<div id="TA_cdsratingsonlynarrow805" class="TA_cdsratingsonlynarrow"><ul id="F4TiRa3x" class="TA_links vD8ZKhL"><li id="dEvOs1c1" class="G6fNrw0Vi6"><a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=805&amp;locationId=17820260&amp;lang=en_US&amp;border=true&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>
</header>
{% endblock %}
