<div class="nav">
  <a href="index.html" class="nav__logo">
    <img src="img/logo.svg" alt="">
  </a>
  <nav class="nav__items">
    <ul class='nav__items__wrapper'>
      <li class="nav__item"><a href="#">about</a></li>
      <!-- <li class="nav__item"><a href="#">tours</a></li> -->
      <li class="nav__item dropdown">
        <div class="dropbtn">tours
          <i class="fa fa-caret-down"></i>
        </div>
        <div class="dropdown-content">
          <a href="day-trip-nusa-penida.html">Nusa Penida</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
      <li class="nav__item"><a href="#">contacts</a></li>
      <li class="nav__item"><a href="reviews.html">reviews</a></li>
    </ul>
  </nav>
  <div class="burger">
    <span></span>
  </div>
</div>