<div class="nav">
  <a href="index.html" class="nav__logo">
    <img src="img/logo.svg" alt="">
  </a>
  <nav class="nav__items">
    <div class="nav__wrap--wrapper">
      <ul class='nav__wrapper'>
        <li class="nav__item only-mobile is-current">
          <a href="index.html">home</a>
        </li>
        <li class="nav__item">
          <a href="about.html">about</a>
        </li>
        <!-- <li class="nav__item"><a href="#">tours</a></li> -->
        <li class="nav__item dropdown">
          <div class="dropbtn">tours
          <span>&#9662;</span>
          </div>
          <div class="dropdown-content">
            <a href="day-trip-nusa-penida.html">Nusa Penida</a>
            <a href="2.html">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li class="nav__item dropdown">
          <div class="dropbtn">rentals
          <span>&#9662;</span>
          </div>
          <div class="dropdown-content">
            <a href="day-trip-nusa-penida.html">Nusa Penida</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
        <li class="nav__item">
          <a href="contacts.html">contacts</a>
        </li>
        <li class="nav__item">
          <a href="reviews.html" data-router-disabled>reviews</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="burger">
    <span></span>
  </div>
</div>