<!--/strip-outer-->
<div class="strip-outer">
  <div class="strip-inner">
    <div class="draggable"></div>
    <div class="strip">
      <div class="strip__item">
        <div class="item__wrapper">
          <div class="img-outer img-outer">
            <div class="img-inner-2" style="background-image: url(img/tours-slider/slide-1.jpg)"></div>
          </div>
        </div>
        <div class="strip-after">
          <h3 class="strip__item-name"><span>One day boat tour</span></h3>
          <p class="strip__item-decs">In a single day, you and a small group will explore island Nusa Penida, one of Bali’s largest islands.</p>
          <a href="day-trip-nusa-penida.html" class="strip-link">learn more</a>
        </div>
      </div>
      <div class="strip__item">
        <div class="item__wrapper">
          <div class="img-outer img-outer">
            <div class="img-inner-2" style="background-image: url(img/tours-slider/slide-2.jpg)"></div>
          </div>
        </div>
        <div class="strip-after">
          <h3 class="strip__item-name"><span>Private boat tour</span></h3>
          <p class="strip__item-decs">Spend an exciting day in Bali with your family or close friends and discover everything the island has to offer!</p>
          <a href="bumbest.html" data-transition="distort" class="strip-link">learn more</a>
        </div>
      </div>
      <div class="strip__item">
        <div class="item__wrapper">
          <div class="img-outer img-outer">
            <div class="img-inner-2" style="background-image: url(img/tours-slider/slide-3.jpg)"></div>
          </div>
        </div>
        <div class="strip-after">
          <h3 class="strip__item-name"><span>Two-day boat tour</span></h3>
          <p class="strip__item-decs">Tour lasts for two days and one night: we swim on a boat, stay for a night in a hotel, then we are going to have a trip by car around the island.</p>
          <a href="iqos.html" data-transition="distort" class="strip-link">learn more</a>
        </div>
      </div>
            <div class="strip__item">
        <div class="item__wrapper">
          <div class="img-outer img-outer">
            <div class="img-inner-2" style="background-image: url(img/tours-slider/slide-4.jpg)"></div>
          </div>
        </div>
        <div class="strip-after">
          <h3 class="strip__item-name"><span>Two-day tour by car </span></h3>
          <p class="strip__item-decs">Two days trip around the eastern part of the island: from the highest waterfalls to temple Lampuyang Temple.</p>
          <a href="iqos.html" data-transition="distort" class="strip-link">learn more</a>
        </div>
      </div>
      <!-- <div class="strip__margin" style="width:30vw"></div> -->
    </div>
    <!--/strip-->
  </div>
  <!--/strip-inner-->
  <div class="strip-nav">
    <div class="strip-nav__left">
      <img src="img/tours-slider/left-arr.svg" alt="">
    </div>
    <div class="strip-nav__line"></div>
    <div class="strip-nav__right">
      <img src="img/tours-slider/right-arr.svg" alt="">
    </div>
  </div>
</div>
<!--/strip-outer-->
