<h2>Plan your day trip to<br>Nusa Penida by boat</h2>
<div class="programm-item">
  <div class="tab__wrapper wrapper">
    <div class="wrapper__left">
      <h3>Pick up and departure</h3>
      <p>Your experience with us begins with a 6.30-7.00 am pick up from your villa or hotel in an air-conditioned vehicle which will transport you to the Harbor for a 7:30 am start before we go over to the Nusa Penida area which are approximately 30-40 minutes away from the mainland.</p>
    </div>
    <div class="wrapper__right">
      <img src="img/tour-1/2.jpg" alt="">
    </div>
  </div>
</div>

<div class="programm-item">
  <div class="tab__wrapper wrapper">
    <div class="wrapper__left">
      <h3>Pick up and departure</h3>
      <p>Your experience with us begins with a 6.30-7.00 am pick up from your villa or hotel in an air-conditioned vehicle which will transport you to the Harbor for a 7:30 am start before we go over to the Nusa Penida area which are approximately 30-40 minutes away from the mainland.</p>
    </div>
    <div class="wrapper__right">
      <img src="img/tour-1/2.jpg" alt="">
    </div>
  </div>
</div>

<div class="programm-item">
  <div class="tab__wrapper wrapper">
    <div class="wrapper__left">
      <h3>Pick up and departure</h3>
      <p>Your experience with us begins with a 6.30-7.00 am pick up from your villa or hotel in an air-conditioned vehicle which will transport you to the Harbor for a 7:30 am start before we go over to the Nusa Penida area which are approximately 30-40 minutes away from the mainland.</p>
    </div>
    <div class="wrapper__right">
      <img src="img/tour-1/2.jpg" alt="">
    </div>
  </div>
</div>

<div class="programm-item">
  <div class="tab__wrapper wrapper">
    <div class="wrapper__left">
      <h3>Pick up and departure</h3>
      <p>Your experience with us begins with a 6.30-7.00 am pick up from your villa or hotel in an air-conditioned vehicle which will transport you to the Harbor for a 7:30 am start before we go over to the Nusa Penida area which are approximately 30-40 minutes away from the mainland.</p>
    </div>
    <div class="wrapper__right">
      <img src="img/tour-1/2.jpg" alt="">
    </div>
  </div>
</div>

<div class="programm-item">
  <div class="tab__wrapper wrapper">
    <div class="wrapper__left">
      <h3>Pick up and departure</h3>
      <p>Your experience with us begins with a 6.30-7.00 am pick up from your villa or hotel in an air-conditioned vehicle which will transport you to the Harbor for a 7:30 am start before we go over to the Nusa Penida area which are approximately 30-40 minutes away from the mainland.</p>
    </div>
    <div class="wrapper__right">
      <img src="img/tour-1/2.jpg" alt="">
    </div>
  </div>
</div>