<div class="tab__wrapper wrapper first-tab">
  <div class="wrapper__left">
    <h2>This is not a tour — this is a real boat adventure!</h2>
    <p>We offer you something special - In just one day you have the opportunity to cruise by private boat, swim with giant oceanic Manta Rays, snorkel in coral gardens with tropical fish and visit the most beautiful places in Nusa Penida island. <br><br>
      What will we do: <br><br>
      <span class="blue-bullet">•</span> Swim with giant oceanic Manta Rays
      <br><span class="blue-bullet">•</span> Snorkeling in 3 different spots
      <br><span class="blue-bullet">•</span> Lunch in nice restaurant with infinity pool and volcano view
      <br><span class="blue-bullet">•</span> Visit Kelingking cliff during car tour
      <br><span class="blue-bullet">•</span> Cruising beatiful lagoons</p>
  </div>
  <div class="wrapper__right first-tab">
  	<img src="img/tour-1/1.jpg" alt="">
  </div>
</div>
