{% include "../partials/_media-tags.html" %}
{% include "../partials/_rewealer.html" %}
<body>
  <!-- loader -->
  <div class="loader">
    <div class="line-loader">
      <div class="loader-back-line">
        <div class="loader-front-line"></div>
      </div>
    </div>
  </div>
  <!-- loader -->
  {% include "partials/_navbar.html" %}
  {% include "partials/_form-pop-up.html" %}
  <div class="site-wrapper" data-router-wrapper>
    <div data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}">
      <!-- BEGIN content -->
      {% block content %}
      <script src="./app.js"></script>
      {% endblock %}
      <!-- END content -->
    </div>
  </div>
  <!-- BEGIN scripts -->
<script type="text/javascript">
  (function(config) {
    window._peekConfig = config || {};
    var idPrefix = 'peek-book-button';
    var id = idPrefix+'-js'; if (document.getElementById(id)) return;
    var head = document.getElementsByTagName('head')[0];
    var el = document.createElement('script'); el.id = id;
    var date = new Date; var stamp = date.getMonth()+"-"+date.getDate();
    var basePath = "https://js.peek.com";
    el.src = basePath + "/widget_button.js?ts="+stamp;
    head.appendChild(el); id = idPrefix+'-css'; el = document.createElement('link'); el.id = id;
    el.href = basePath + "/widget_button.css?ts="+stamp;
    el.rel="stylesheet"; el.type="text/css"; head.appendChild(el);
  })({key: '6b7acbcc-9830-4d86-98c9-a58a7cfeb8b4'});
</script>
  <script src="js/app.js"></script>
  <!-- END scripts -->
</body>

</html>